@use "@/app/scss/variables" as *;
@use "@/app/scss/functions" as *;

.toast-container {
  @include full-width;
  position: fixed;
  inset: 0;
  z-index: 1000;
  padding-top: rem(10);
  display: flex;
  flex-direction: column;
  gap: rem(10);
  height: fit-content;
}

.toast {
  width: 100%;
  padding: $p-l;
  border-radius: $b-radius;
  color: white;
  display: flex;
  gap: rem(10);
  justify-content: space-between;
  align-items: center;

  @include breakpoint(medium) {
    width: 50%;
    align-self: flex-end;
  }

  @include breakpoint(large) {
    width: 30%;
  }
}

.toast-success {
  backdrop-filter: blur(rem(10));
  background-color: rgba(3, 193, 71, 0.5);
}

.toast-error {
  background-color: $red;
}

.toast-info {
  background-color: $yellow;
  color: $c-bg;

  button {
    color: $red;
  }
}
