@use "@/app/scss/variables" as *;
@use "@/app/scss/functions" as *;

$padding: rem(10);
$bg_color: $light;

#itinerary_card {
  position: relative;
  z-index: 5;
  margin-top: rem(-120);
  @include full_width;

  @include breakpoint(medium) {
    padding-inline: 10vw;
  }

  @include breakpoint(large) {
    padding-inline: 18vw;
  }

  @include breakpoint(xlarge) {
    padding-inline: 20vw;
  }

  @include breakpoint(xxlarge) {
    padding-inline: 30vw;
  }

  a {
    @include breakpoint(medium) {
      box-shadow: rgba(0, 0, 0, 0.35) 0 rem(5) rem(15);
      border-radius: rem(10);
      display: flex;
    }

    @include breakpoint(large) {
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(rem(-10));

        .top {
          border-color: $yellow;
        }

        .bottom {
          border-color: $yellow;
        }
      }
    }

    .top {
      width: 100%;
      padding: $padding;
      background-color: $bg_color;
      border-radius: rem(10) rem(10) 0 0;
      border-top: rem(1) solid $dark;
      border-left: rem(1) solid $dark;
      border-right: rem(1) solid $dark;
      display: flex;
      flex-direction: column;
      gap: rem(10);

      @include breakpoint(medium) {
        width: 40%;
        aspect-ratio: 6 / 4;
        border-radius: rem(10) 0 0 rem(10);
        border-right: none;
        border-bottom: rem(1) solid $dark;
      }

      .img_container {
        width: 100%;
        position: relative;
        aspect-ratio: 1;
        border-radius: rem(10);
        overflow: hidden;
        padding: rem(10);
        display: flex;
        align-items: flex-end;

        @include breakpoint(medium) {
          height: 100%;
        }

        p {
          width: fit-content;
          padding: rem(10) rem(10);
          position: relative;
          z-index: 2;
          background-color: $dark;
          color: $light;
          font-size: rem(12);
          border-radius: rem(10);
          border: rem(1) solid $light;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          inset: 0;
          z-index: 1;
        }
      }
    }

    .bottom {
      width: 100%;

      @include breakpoint(medium) {
        width: 60%;
        background-color: $bg_color;
        border-radius: 0 rem(10) rem(10) 0;
        border-right: rem(1) solid $dark;
        border-bottom: rem(1) solid $dark;
        border-top: rem(1) solid $dark;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .top_details_container {
        width: 100%;
        padding: $padding;
        display: flex;
        flex-direction: column;
        gap: rem(10);
        border-left: rem(1) solid $dark;
        border-right: rem(1) solid $dark;

        @include breakpoint(medium) {
          border: none;
          border-radius: 0 rem(10) 0 0;
        }

        @include breakpoint(large) {
          padding-top: rem(20);
        }

        .day_night_container {
          width: fit-content;
          background-color: $yellow;
          padding: rem(10) rem(15);
          border-radius: rem(100);

          p {
            display: flex;
            align-items: center;
            gap: rem(6);
            font-size: rem(14);

            svg {
              $svg_size: rem(14);
              width: $svg_size;
              height: $svg_size;
            }
          }
        }

        h1 {
          font-size: rem(18);
        }
        .subtitle {
          @include breakpoint(medium) {
            margin-top: rem(10);
          }
        }
      }

      .gap {
        display: flex;
        align-items: center;
        min-height: rem(40);
        background-color: $bg_color;
        position: relative;
        overflow: hidden;

        @include breakpoint(medium) {
          display: none;
        }

        .line {
          width: 100%;
          height: rem(1);

          background-image: linear-gradient(
            90deg,
            #d7d7d7 33%,
            hsla(0, 0%, 100%, 0) 0
          );
          background-position: bottom;
          background-size: rem(14) rem(1);
          background-repeat: repeat-x;
        }

        .ticket_card_circle {
          width: rem(40);
          aspect-ratio: 1 / 1;
          border-radius: rem(100);
          border: rem(1) solid $dark;
          position: absolute;
          background-color: $light;
        }

        .c_top {
          width: rem(40);
          left: rem(-20);
        }

        .c_bottom {
          right: rem(-20);
        }
      }

      .bottom_bottom_container {
        padding: $padding;
        border-left: rem(1) solid $dark;
        border-right: rem(1) solid $dark;
        border-bottom: rem(1) solid $dark;
        border-radius: 0 0 rem(10) rem(10);

        @include breakpoint(medium) {
          border: none;
        }

        @include breakpoint(large) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }

        .price_container {
          font-size: rem(22);
          padding-bottom: rem(10);
          border-bottom: rem(1) solid $dark;

          @include breakpoint(large) {
            border: none;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            padding-bottom: 0;
            display: flex;
            gap: rem(10);
            align-items: center;
            margin-top: rem(10);
          }

          .price_actual {
            text-decoration: line-through;
            opacity: 0.5;
            font-weight: 400;
          }

          .price {
            font-weight: 600;
          }
        }

        .activities_container {
          display: flex;
          flex-direction: column;
          margin-block: rem(15);

          @include breakpoint(large) {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            flex-direction: row;
            gap: rem(16);
            margin-block: 0;
            padding-block: rem(15) rem(24);
            border-bottom: rem(1) solid $dark;
          }

          p {
            display: flex;
            align-items: center;
            gap: rem(10);

            svg {
              $svg_size: rem(16);
              width: $svg_size;
              height: $svg_size;
            }
          }
        }

        button {
          @include button;

          @include breakpoint(large) {
            margin-top: rem(10);
          }
        }
      }
    }
  }
}
